.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.2s ease;

  &_img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
  }

  &--header {
    width: 198px;
    flex-shrink: 0;

    @include respond-to(xl-2) {
      width: 170px;
    }

    @include respond-to(lg) {
      width: 140px;
    }
  }

  &--kaifuso {
    &.logo--header {
      width: 198px;

      @include respond-to(xl-2) {
        width: 170px;
      }

      @include respond-to(lg) {
        width: 148px;
      }
    }
  }

  &--intro {
    width: 300px;

    @include respond-to(lg) {
      opacity: 0.6;
    }

    img {
      width: 100%;
    }
  }

  &--footer {
    width: 300px;
  }
}
