@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/thumbs';
@import '@fancyapps/ui/dist/fancybox/fancybox.css';

@import '@/styles/fonts';
// @import '@/styles/theme';

:root {
  --height-h: 92px;
  --vh: 1vh; // Fallback, будет перезаписано JavaScript
  --scrollbar-width: 0px;
}

// Базовые стили
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-main;
  font-weight: 400;
  color: $prime;
  background-color: $second;

  &.noscroll {
    overflow-y: hidden;
  }
}

a {
  color: $prime;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: $prime;
  line-height: 1.77;

  @include respond-to(md) {
    font-size: 16px;
  }
}

img {
  display: block;
}

textarea {
  font-family: $font-main;
}

@import '@/styles/components/route';
@import '@/styles/components/page';
@import '@/styles/components/title';
@import '@/styles/components/scroll-bar';
@import '@/styles/components/container';
@import '@/styles/components/header';
@import '@/styles/components/theme-switcher';
@import '@/styles/components/main';
@import '@/styles/components/section';
@import '@/styles/components/footer';
@import '@/styles/components/button';
@import '@/styles/components/logo';
@import '@/styles/components/burger';
@import '@/styles/components/nav';
@import '@/styles/components/menu';
@import '@/styles/components/intro';
@import '@/styles/components/socials';
@import '@/styles/components/swiper';
@import '@/styles/components/cta';
@import 'air-datepicker/air-datepicker.css';
@import '@/styles/components/air-datepicker-theme';
@import '@/styles/components/form';
@import '@/styles/components/select';
@import '@/styles/components/breadcrumbs';
@import '@/styles/components/modal';
@import '@/styles/components/gallery';
@import '@/styles/components/page-intro-kaifuso';
@import '@/styles/components/events';
@import '@/styles/components/menu-page';
@import '@/styles/components/menu-detail';
@import '@/styles/components/card';
@import '@/styles/components/pagination';
@import '@/styles/components/event';
@import '@/styles/components/about';
@import '@/styles/components/home';
@import '@/styles/components/effects';
@import '@/styles/components/error';
@import '@/styles/components/contacts';
@import '@/styles/components/single';
@import '@/styles/components/privacy';
@import '@/styles/components/widget';
@import '@/styles/components/toc';
@import '@/styles/components/bottom-nav';
@import '@/styles/components/links';
@import '@/styles/components/scroll-to-top';
@import '@/styles/components/cb';
@import '@/styles/components/blog';
@import '@/styles/components/seo';

.buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.wpcf7-spinner {
  display: none;
}
