//- Секция "Программы"

section.section.section--programms(data-aos="fade-up", data-aos-duration="1000")
  .container.section_container
    +SectionTitle({
      title: 'Парения',
      size: 'lg',
      type: 'center'
    })
    .programms
      +ProgrammCard({
        title: 'Сила Князя',
        description: 'Классическое парение в один заход с дубовыми вениками',
        img: 'assets/img/cert-bg.webp',
        imgAlt: 'Сила Князя',
        params: [
          { label: 'Длительность', value: '10 минут' },
          { label: 'Гости', value: '1 гость' },
          { label: 'Цена', value: '3 900 ₽' },
        ]
      })
      +ProgrammCard({
        title: 'Родновер',
        description: 'Классическое парение в один заход с дубовыми / пихтовыми вениками на кедровой перине с контрастом на Ваш выбор и укрывание головы пихтовыми вениками',
        img: 'assets/img/benefits-2.webp',
        imgAlt: 'Родновер',
        params: [
          { label: 'Длительность', value: '20 минут' },
          { label: 'Гости', value: '1 гость' },
          { label: 'Цена', value: '5 900 ₽' },
        ]
      })
      +ProgrammCard({
        title: 'Купеческое',
        description: 'Парение в два захода с дубовыми вениками на мягком пару, на кедровой перине с контрастом, догревом и купелью, укрывание головы пихтовыми вениками',
        img: 'assets/img/ritual-2.webp',
        imgAlt: 'Купеческое',
        params: [
          { label: 'Длительность', value: '25 минут' },
          { label: 'Гости', value: '1 гость' },
          { label: 'Цена', value: '6 900 ₽' },
        ]
      })
      +ProgrammCard({
        title: 'Воевода',
        description: 'Парение в два захода с вениками из дуба и можжевельника на кедровой перине. Круговое парение, натирание медом в первом заходе, выход на контраст в купели, второй догревочный заход с можжевеловой прокаткой',
        img: 'assets/img/spa-2.webp',
        imgAlt: 'Купеческое',
        params: [
          { label: 'Длительность', value: '25 минут' },
          { label: 'Гости', value: '1 гость' },
          { label: 'Цена', value: '6 900 ₽' },
        ]
      })