//- @title: Контакты
//- @description: Контакты банного комплекса «Княже» - адрес, телефон, форма обратной связи
//- @page_class: contacts
//- @has_intro: false
extends ../layouts/default.pug

block content
  -
    const contactsSection = {
      sectionClass: 'contacts',
      withHero: true,
      titleId: 'contacts-title',
      heroTitle: 'Контакты',
      heroBreadcrumbs: ['Контакты'],
      heroRootClass: 'contacts_hero',
      privacyVariant: 'full'
    }
  include ../components/sections/contacts-section.pug