//- @title: Лояльность (прототип)
//- @description: Программа лояльности — прототип таймлайна
//- @page_class: loyalty
extends ../layouts/default.pug

block content

  +IntroVideo({
    videoSrc: 'assets/video/video-bg.mp4',
    title: 'Программа лояльности КНЯЖЕ',
    description: '1 КНЯЖИЙ БОНУС = 1 РУБЛЬ',
    breadcrumbs: ['Программа лояльности'],
    features: [],
    buttons: [
      {text: 'Купить билет онлайн', styles: ['primary', 'lg']},
      {text: 'Смотреть цены', styles: ['secondary', 'lg']}
    ],
    showLogo: false
  })

  section.section.section--loyalty(data-aos='fade-up', data-aos-duration='800')
    .container.section_container
      .section_content
        +SectionTitle({
          title: 'Копите княжьи бонусы и оплачивайте ими 50% счёта',
          size: 'alt',
          type: 'gold',
        })
        .loyalty_program
          svg.loyalty_program_svg(aria-hidden='true', focusable='false')
          .loyalty_program_list
            .loyalty_program_item
              .loyalty_program_marker
                span.loyalty_program_num I
              .loyalty_program_body
                p.loyalty_program_title Зарегистрируйтесь в бонусной программе Княже и получите приветственные 1000 княжьих бонусов
            .loyalty_program_item
              .loyalty_program_marker
                span.loyalty_program_num 2
              .loyalty_program_body
                p.loyalty_program_title Копите княжьи бонусы с суммы каждого чека и оплачивайте ими 50% счёта в банном комплексе «Княже»
            .loyalty_program_item
              .loyalty_program_marker
                span.loyalty_program_num 3
              .loyalty_program_body
                p.loyalty_program_title Повышайте уровень системы лояльности в зависимости от общей суммы чека в банном комплексе «Княже» и получайте больше княжьих бонусов
                .loyalty_program_sub
                  ul
                    li уровень #[strong БОЯРИН] до 49 999 руб. — 3% княжьих бонусов
                    li уровень #[strong КНЯЗЬ] от 50 000 руб. до 249 999 руб. — 5% княжьих бонусов
                    li уровень #[strong ГОСУДАРЬ] от 250 000 руб. — 7% княжьих бонусов
            .loyalty_program_item
              .loyalty_program_marker
                span.loyalty_program_num 4
              .loyalty_program_body
                p.loyalty_program_title Получайте в день рождения 1000 княжьих бонусов в подарок
          .loyalty_program_cta
            +Button('Зарегистрироваться', ['primary', 'lg'])(href='#')
