//- @title: Главная
//- @description: KAIFUSO — ресторан-клуб с авторской азиатской кухней
//- @page_class: index
extends ../layouts/default.pug

include ../components/sections/home-content.pug

block content
  +HomeContent()
