//- @title: Политика конфиденциальности персональных данных
//- @description: Политика конфиденциальности персональных данных описание
//- @page_class: privacy
//- @has_intro: false
extends ../layouts/default.pug

block content
  +Intro({
    title: 'Политика конфиденциальности персональных данных',
    breadcrumbs: ['Политика конфиденциальности персональных данных']
  })